body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centered_entire {
    display: grid;
    grid-template-columns: 20vw 1fr;
}

.beside_sidebar {
    width: 80vw
}

.main_grid_container {
    padding: 5%;
    padding-top: 0;
    display: grid;
    grid-template-columns: 600px 150px;
    column-gap: 40px;
}

.side_dashboard_container {
    display: grid;
    grid-template-rows: 1fr;
    position: sticky;
    top: 0;
    height: 600px;
}

.side_dashboard_container, .profile {
    display: flex;
    width: 20vw;
    align-items: center;
    flex-direction: column;
}

.side_dashboard_container img {
    width: 25px;
    height: auto;
}

#student_photo {
    width: 50px;
    height: auto;
}

#mark2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mark {
    margin-bottom: 30px;
}

/* Header or Navigation Bar */

.header_container {
    width: 80vw;
    position: sticky;
    top: 0;
    height: auto;
    padding: 5% 5% 10px 5%;
    background-color: white;
    z-index: 1;
}

.header_container img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.top_header {
    display: flex;
    flex-direction: row;
    max-width: 850px;
}

.search_bar {
    width: 100%;
    max-width: 600px;
    background-color: #dde1e7;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    border: 1px solid gray;
    margin-right: auto;
}

.search_bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    width: 100%;
    width: 800px;
}

.search_bar img {
    width: 15px;
    height: auto;
}

.search_bar button {
    border: 0;
    border-radius: 60px;
    background-color: #dde1e7;
    cursor: pointer;
}

/* Bottom Header */

.bottom_header {
    display: flex;
    flex-direction: row;
    max-width: 850px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.greeting {
    display: inline-grid;
    grid-template: 20px 30px 20px / 40px 30px;
}

.greeting img {
    width: 50px;
    height: 50px;
}

.greeting p {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    margin-top: 5px;
}

.greeting h2 {
    grid-column: 3 / 3;
    margin-top: 5px;
}

.logo {
    display: flex;
    gap: 50px;
    align-items: center;
    top: 50%;
}

.logo img {
    width: 25px;
    height: 25px;
}

.logo button {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    border: 0;
}

/* Overview */

.overview_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.overview_container div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid gray;
    padding: 0%;
}

#number {
    font-size: 30px;
    margin: 0;
}

/* Assignments */
#assignments {
    height: 200px;
    border: 1px solid gray;
    overflow: scroll;
}

#assignments p {
    margin-left: 30px;
}

#no_due {
    margin-top: -10px;
}

.todo_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 30px;
}

.todo_container img {
    width: 100%;
}

.todo_elements {
    border: 1px solid gray;
    height: 150px;
    overflow: scroll;
    max-width: fit-content;
}

#check {
    display: flex;
    flex-direction: row;
}

#check p {
    margin-left: 5px;
}

video {
    width: 90%;
}

.projects {
    display: grid;
    grid-template-rows: repeat (4, 350px);
    row-gap: 10px;
}

.project_sub {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 30px;
    border: 1px solid gray;
}

#stack {
    display: inline-block;
    margin-top: 2px;
}

/* Goals */