/* Importing fonts */
@font-face {
    font-family: poppinsR;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppinsM;
    src: url(fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppinsG;
    src: url(fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: poppinsEB;
    src: url(fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: poppinsB;
    src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppinsSB;
    src: url(fonts/Poppins-SemiBold.ttf);
}

body {
    margin: 0;
    padding: 0;
}

#title {
    font-family: poppinsB;
    font-size: 25px;
}

.centered_entire {
    display: grid;
    grid-template-columns: 300px auto;
}

.beside_sidebar {
    float: right;
}

.main_grid_container {
    padding: 5%;
    padding-top: 0;
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 50px;
    background-color: #F9F7F7;
    font-family: poppinsR;
}

.side_dashboard_container {
    position: sticky;
    font-family: poppinsB;
    top: 0;
    height: 100vh;
    margin-left: 0;
    background: rgb(14,45,117);
    background: linear-gradient(90deg, rgba(14,45,117,1) 0%, rgba(28,56,121,1) 35%, rgba(49,70,120,1) 80%, rgba(45,68,120,1) 100%);
}

.side_dashboard_container, .profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.side_dashboard_container img {
    width: 25px;
    height: auto;
}

#student_photo {
    width: 50px;
    height: auto;
}

#mark2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mark {
    margin-bottom: 30px;
}

/* Header or Navigation Bar */

.top_header img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.top_header {
    display: flex;
    flex-direction: row;
    position: sticky;
    background-color: white;
    top: 0;
    height: min-content;
    margin-top: 4%;
    padding: 1% 5% 10px 5%;
}

.search_bar {
    width: 100%;
    max-width: 600px;
    height: 15px;
    background-color: #dde1e7;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    border: 1px solid gray;
    margin-right: auto;
}

.search_bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    width: 100%;
    width: 800px;
}

.search_bar img {
    width: 15px;
    height: auto;
}

.search_bar button {
    border: 0;
    border-radius: 60px;
    background-color: #dde1e7;
    cursor: pointer;
}

/* Bottom Header */

.bottom_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 5% 10px 5%;
    font-family: poppinsR;
}

.greeting {
    display: inline-grid;
    grid-template: 20px 30px 20px / 40px 30px;
}

.greeting img {
    width: 50px;
    height: 50px;
}

.greeting p {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    margin-top: 5px;
}

.greeting h2 {
    grid-column: 3 / 3;
    margin-top: 5px;
}

.logo {
    display: flex;
    gap: 50px;
    align-items: center;
    top: 50%;
}

.logo img {
    width: 25px;
    height: 25px;
}

.logo button {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    border: 0;
}

/* Overview */

.overview_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    color: white;
}

.overview_container div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #112D4E;
    border-radius: 20px;
}

#topper_overview {
    font-family: poppinsSB;
}

#number {
    font-size: 30px;
    margin: 0;
    font-family: poppinsEB;
}

/* Assignments */
#assignments {
    height: 200px;
    background-color: #DBE2EF;
    overflow: scroll;
}

#assignments p {
    margin-left: 30px;
}

#no_due {
    margin-top: -10px;
    border-bottom: 1px solid gray;
}

.todo_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 30px;
}

.todo_container img {
    width: 20em;
}

.todo_elements {
    background-color: #DBE2EF;
    height: 200px;
    overflow: scroll;
}

#check {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
}

#check p {
    margin-left: 5px;
}

video {
    width: 90%;
}

.projects {
    display: grid;
    grid-template-rows: repeat (4, 350px);
    row-gap: 10px;
}

.project_sub {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 10px;
    background-color: white;

}

#stack {
    display: inline-block;
    margin-top: 2px;
}

/* Goals */

.goals li {
    margin-bottom: 15px;
}

.goal_sub {
    background-color: #3F72AF;
    padding: 10px 20px 10px 10px;
    color: white;
    border-radius: 10px;
}