/* Importing fonts */

@font-face {
    font-family: anonymous;
    src: url(fonts/Anonymous_Pro.ttf);
}

@font-face {
    font-family: poppinsR;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppinsM;
    src: url(fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppinsG;
    src: url(fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: poppinsEB;
    src: url(fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: poppinsB;
    src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppinsSB;
    src: url(fonts/Poppins-SemiBold.ttf);
}

/* Colors */

:root {
    --sidebar: linear-gradient( 96.5deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% );
    --header: #ffffff;
    --page: #F9F7F7;
    --overview: #112D4E;
    --assignment: #DBE2EF;
    --goals: #3F72AF;
    --todo: #DBE2EF;
    --trending: #ffffff;
    --overview-font: #ffffff;
    --goals-font: #000000;
}

.dark-mode {
    --sidebar: #121729;
    --header: #101624;
    --page: #141b2d;
    --font: #ffffff;
    --entire: #101624;
    --overview: #1f2940;
    --goals: #121729;
    --assignment:  #1f2940;
    --todo: #1f2940;
    --trending: #121729;
    --link-trend: #667497;
    --overview-font: #cdd3e2;
    --goals-font: #cdd3e2;
}


/* All Elements */

body {
    margin: 0;
    padding: 0;
    color: var(--font);
    background: var(--entire);
}

#title {
    font-family: poppinsB;
    font-size: 25px;
}

.centered_entire {
    display: grid;
    grid-template-columns: 250px auto;
}

.beside_sidebar {
    float: right;
}

.main_grid_container {
    padding: 5%;
    padding-top: 0;
    display: grid;
    grid-template-columns: 5fr 2fr;
    column-gap: 50px;
    background-color: var(--page);
    font-family: poppinsR;
}

.maincontent {
    max-width: 960px;
}

/* Sidebar */

.side_dashboard_container {
    position: sticky;
    box-sizing: initial;
    font-family: poppinsB;
    top: 0;
    height: 100vh;
    margin-left: 0;
    background: var(--sidebar)
}

.side_dashboard_container, .profile {
    padding-left: 20px;
    color: var(--header);
}

.side_dashboard_container img {
    width: 25px;
    height: auto;
}

.profile {
    margin-top: 50px;
    display: grid;
    width: 150px;
    height: 50px;
    grid-template-columns: 60px 20px;
    grid-template-rows: 20px 20px;
    grid-template-areas: 
    "profpict name"
    "profpict status";
    column-gap: 10px;
    align-items: center;
    color: var(--font);
}

.profile img {
    grid-area: profpict;
}

.profile h3 {
    grid-area: name;
}

.profile h6 {
    grid-area: status;
}

#student_photo {
    width: 30px;
    height: auto;
    background-color: #dde1e7;
    padding: 15px;
    border-radius: 40px;
}

#mark2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -25px;
}

#mark {
    margin-bottom: 20px;
    color: var(--font)
}

/* Hover Effect: https://stackoverflow.com/questions/72154402/my-navigation-bar-height-increases-when-hovering-over-the-links-is-the-line-un */

.sidebar_sub {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 2;
    position: absolute;
    width: 220px;
}

.sidebar_sub li {
    position: relative;
    list-style: none;
    width: 100%;
}

.sidebar_sub li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

.sidebar_sub li a .icon {
    position: relative;
    display: block;
    min-width: 50px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.sidebar_sub li a .icon ion-icon {
    font-size: 1.5em;
}

.sidebar_sub li a .menu {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}

.sidebar_sub li:hover {
    background: white;
    transition: all ease 0.3s;
    width: 100%;
}

.sidebar_sub li a:hover {
    color: var(--overview);
}

/* Header Bar */

.top_header img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.top_header {
    display: flex;
    flex-direction: row;
    position: sticky;
    background-color: var(--header);
    top: 0;
    height: min-content;
    margin-top: 4%;
    padding: 1% 5% 10px 5%;
    z-index: 1;
}

.search_bar {
    width: 100%;
    max-width: 600px;
    height: 15px;
    background-color: #dde1e7;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    margin-right: auto;
}

.search_bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    width: 100%;
    width: 800px;
}

.search_bar img {
    width: 15px;
    height: auto;
}

.search_bar button {
    border: 0;
    border-radius: 60px;
    background-color: #dde1e7;
    cursor: pointer;
}

/* Bottom Header */

.bottom_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 5% 10px 5%;
    font-family: poppinsR;
}

.greeting {
    display: inline-grid;
    grid-template: 20px 30px 20px / 40px 30px;
}

.greeting img {
    width: 50px;
    height: 50px;
}

.greeting p {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    margin-top: 5px;
}

.greeting h2 {
    grid-column: 3 / 3;
    margin-top: 5px;
}

.logo {
    display: flex;
    gap: 50px;
    align-items: center;
    top: 50%;
}

.logo img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.logo button {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    border: 0;
}

/* Overview */

.overview_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    color: var(--overview-font);
}

.overview_container div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--overview);
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
    color: var(--overview-font)
}

#topper_overview {
    font-family: poppinsSB;
}

#number {
    font-size: 30px;
    margin: 0;
    font-family: poppinsEB;
}

/* Assignments */

#assignments {
    height: 250px;
    background-color: var(--assignment);
    overflow: scroll;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
}

#assign {
    color: var(--goals-font);
    margin-left: 30px;
}

#no_due {
    margin-top: -10px;
    margin-left: 30px;
    border-bottom: 1px solid gray;
    color: gray;
}

/* To-Do */

.todo_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.todo_container img {
    width: 25em;
    margin: auto;
    padding: 2px;
    border-radius: 0px;
    margin-top: 25px;
    margin-left: -50px;
}

.todo_elements {
    background-color: var(--todo);
    color: var(--goals-font);
    height: 200px;
    overflow: scroll;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
}

#check {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
}

/* Project */

#check p {
    margin-left: 5px;
}

video {
    width: 90%;
}

.projects {
    display: grid;
    grid-template-rows: repeat (4, 350px);
    row-gap: 30px;
}

.project_sub {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 10px;
    background-color: var(--header);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
}

.project_sub p {
    color: var(--goals-font)
}

#stack {
    display: inline-block;
    margin-top: 2px;
}

/* Goals */

.goals li {
    margin-bottom: 15px;
}

.goal_sub {
    background-color: var(--goals);
    padding: 10px 20px 10px 10px;
    color: var(--overview-font);
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
}

/* Trending */

.announcements {
    background-color: var(--trending);
    border-bottom: 1px solid gray;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
    padding: 20px;
    border-radius: 10px;
}

.sub_announce {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    color: var(--goals-font);
}

.sub_announce h5 {
    font-size: 15px;
}

.sub_announce a {
    text-decoration: none;
    color: var(--link-trend);
}

#source {
    color: gray;
    margin-top: -15px;
}

/* Plus Button */

.title_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#beside_title {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: #dde1e7;
    border-radius: 50px;
}

button {
    cursor: pointer;
}